In [2]:
'''Machine Learning Tutorial - Naive Bayes: Exercise
Use wine dataset from sklearn.datasets to classify wines into 3 categories. 
Load the dataset and split it into test and train. After that train the model using 
Gaussian and Multinominal classifier and post which model performs better.
Use the trained model to perform some predictions on test data.'''

'Machine Learning Tutorial - Naive Bayes: Exercise\nUse wine dataset from sklearn.datasets to classify wines into 3 categories. \nLoad the dataset and split it into test and train. After that train the model using \nGaussian and Multinominal classifier and post which model performs better.\nUse the trained model to perform some predictions on test data.'

In [3]:
import numpy as np
from sklearn.datasets import load_wine
from sklearn.model_selection import train_test_split
import pandas as pd

df = load_wine()
X = df['data']
y = df["target"]

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size = 0.3, random_state = 50)

In [5]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB, CategoricalNB
gaussian = GaussianNB()
multinomial = MultinomialNB()
gaussian.fit(X_train, y_train)
multinomial.fit(X_train, y_train)

MultinomialNB()

In [6]:
#Gaussian
pre1 = gaussian.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, pre1))

0.9814814814814815

In [7]:
#Multinomial
pre2 = multinomial.predict(X_test)
print(accuracy_score(y_test, pre2))

0.8888888888888888

In [8]:
''' missing data, not number data titanic.csv'''
import pandas as pd
dataset = pd.read_csv('titanic.csv')
dataset.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [9]:
dataset.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
dataset.head()
b = dataset['Survived']
A= dataset.drop('Survived', axis = 'columns')

In [10]:
A['Sex'] = A['Sex'].map({
    'male': 0,
    'female': 1
})

print(A.isnull().sum())
A['Age'] = A['Age'].fillna(A['Age'].mean())
A.head()
print(A.isnull().sum())

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64
Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [11]:
A_train, A_test, b_train, b_test = train_test_split(A,b, test_size = 0.2)

In [12]:
model = GaussianNB()
model.fit(A_train, b_train)
pred = model.predict(A_test)
accuracy_score(b_test, pred)

0.8156424581005587

In [13]:
model2 = MultinomialNB()
model2.fit(A_train, b_train)
pred2 = model.predict(A_test)
accuracy_score(b_test, pred2)

0.8156424581005587

In [15]:
model3 = CategoricalNB()
model3.fit(A_train, b_train)
pred3 = model.predict(A_test)
accuracy_score(b_test, pred3)

0.8156424581005587