In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from matplotlib.colors import ListedColormap
import matplotlib.pyplot as plt
import os
from sklearn.tree import DecisionTreeRegressor

In [3]:
df = pd.read_csv('vgsales.csv')
print(df.head(3))
print(df.isnull().sum())
df.describe()

   Rank             Name Platform  Year    Genre   Publisher  NA_Sales  \
0   259        Asteroids     2600  1980  Shooter       Atari      4.00
1   545  Missile Command     2600  1980  Shooter       Atari      2.56
2  1768          Kaboom!     2600  1980     Misc  Activision      1.07

   EU_Sales  JP_Sales  Other_Sales  Global_Sales
0      0.26       0.0         0.05          4.31
1      0.17       0.0         0.03          2.76
2      0.07       0.0         0.01          1.15
Rank             0
Name             0
Platform         0
Year             0
Genre            0
Publisher       36
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16324.000000,16324.000000,16324.000000,16324.000000,16324.000000,16324.000000,16324.000000
mean,8291.508270,2006.404251,0.265464,0.147581,0.078673,0.048334,0.540328
std,4792.043734,5.826744,0.821658,0.508809,0.311584,0.189902,1.565860
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4135.750000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8293.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12439.250000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.480000
max,16600.000000,2016.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [4]:
df['Publisher'].value_counts()

Electronic Arts                 1339
Activision                       966
Namco Bandai Games               928
Ubisoft                          918
Konami Digital Entertainment     823
                                ...
Enjoy Gaming ltd.                  1
Phantom EFX                        1
T&E Soft                           1
Warp                               1
UIG Entertainment                  1
Name: Publisher, Length: 576, dtype: int64

In [6]:
df['Name'].value_counts()

Need for Speed: Most Wanted                                12
LEGO Marvel Super Heroes                                    9
Ratatouille                                                 9
FIFA 14                                                     9
Lego Batman 3: Beyond Gotham                                8
                                                           ..
GunParade Orchestra: Ao no Shou                             1
Kaitou Rousseau                                             1
WinBack 2: Project Poseidon                                 1
Rengoku II: The Stairway to H.E.A.V.E.N. (jp sales)         1
Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru     1
Name: Name, Length: 11358, dtype: int64

In [7]:
df['Genre'].value_counts()

Action          3252
Sports          2304
Misc            1710
Role-Playing    1469
Shooter         1282
Adventure       1276
Racing          1226
Platform         876
Simulation       851
Fighting         836
Strategy         671
Puzzle           571
Name: Genre, dtype: int64

In [8]:
df = df.drop(['Platform', 'Publisher','Name','Year' ], axis = 1)

In [9]:
df.head()

   Rank     Genre  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0   259   Shooter      4.00      0.26       0.0         0.05          4.31
1   545   Shooter      2.56      0.17       0.0         0.03          2.76
2  1768      Misc      1.07      0.07       0.0         0.01          1.15
3  1971      Misc      0.99      0.05       0.0         0.01          1.05
4  2671  Fighting      0.72      0.04       0.0         0.01          0.77

In [10]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
df['Genre'] = lb.fit_transform(df['Genre'])
df.head()

   Rank  Genre  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0   259      8      4.00      0.26       0.0         0.05          4.31
1   545      8      2.56      0.17       0.0         0.03          2.76
2  1768      3      1.07      0.07       0.0         0.01          1.15
3  1971      3      0.99      0.05       0.0         0.01          1.05
4  2671      2      0.72      0.04       0.0         0.01          0.77

In [11]:
y = df['Global_Sales']
X = df.drop('Global_Sales', axis = 1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
model = DecisionTreeRegressor(max_depth = 10)
model.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=10)

In [12]:
y_pre = model.predict(X_test)
rmse = mean_squared_error(y_test, y_pre)
rmse
# y_test.describe()

0.6832960691971506